<!DOCTYPE html>
<html>
<head>
  <title>Salescontrol</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <blockquote>
    	<span class="blue-text text-darken-2"><%= notice %></span>
    </blockquote>​
    <blockquote>
    	<span class="red-text text-darken-2"><%= alert %></span>
    </blockquote>
<%= yield %>

</body>
</html>
